/* CSS declarations go here */
/*
body {
   background:#0066CC !important;
}
h1 {
	color:white;
}
h3 {
	color:white;
}
#draggable {
	padding: 0.5em;
}
*/

.header-cont {
    width:100%;
	position:fixed;
	padding: 0;
	background-size: 100%;
	top:0px;
	left:0px;
	z-index:100;
	height:150px;
    background:#F0F0F0;
    border:1px solid #CCC;
    margin-left: auto;
	margin-right: auto;
}

.center-controls {
	display: table;
	margin: 0 auto;
}

.resizable { 
	font-size: 0;	
}
video {
	width:100%;
	height:100%;
	max-height: none;
	max-width: none;
}