/* CSS declarations go here */

body {
   background:#004756 !important;
}
/*h1 {
    color:white;
}
h3 {
    color:white;
}*/
#draggable {
    padding: 0.5em;
}


.header-cont {
    width:100%;
    position:fixed;
    padding: 0;
    background-size: 100%;
    top:0px;
    left:0px;
    z-index:100;
    height:150px;
    background:#F0F0F0;
    border:1px solid #CCC;
    margin-left: auto;
    margin-right: auto;
}

.center-controls {
    display: table;
    margin: 0 auto;
}

.resizable { 
    font-size: 0;   
}

video {
    width:100%;
    height:100%;
    max-height: none;
    max-width: none;
}

.videoPlayerContainer1 {
    position:relative;
    display:inline-block;
}

.videoPlayerContainer2 {
	display:inline-block;
}

.videoPlayerContainer3 {
	width: 640px;
    height: 365px;
}

.displayScreen {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	padding-top:175px;
	margin:0px;
	background-color:#ABC;
	overflow: scroll;
}

.buttonPanel {
	display:inline-block;
}

button:hover {
    cursor: pointer;
}

button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}