/* CSS declarations go here */

body {
   background:#004756 !important;
}
/*h1 {
    color:white;
}
h3 {
    color:white;
}*/
#draggable {
    padding: 0.5em;
}


.header-cont {
    width:100%;
    position:fixed;
    padding: 0;
    background-size: 100%;
    top:0px;
    left:0px;
    z-index:100;
    height:150px;
    background:#F0F0F0;
    border:1px solid #CCC;
    margin-left: auto;
    margin-right: auto;
}

.center-controls {
    display: table;
    margin: 0 auto;
}

.resizable { 
    font-size: 0;   
}

video {
    width:100%;
    height:100%;
	max-height:100%;
	max-width: 100%;
	font-size:0;
	display: float;
}

.videoPlayerContainer1 {
    position:absolute;
    display:inline-block;
	z-index:1;
	background-color:#ABC;
	border: 0px solid transparent;
}

#table-scroll {
    max-height:300px;
    overflow-y:scroll;
}


.videoPlayerContainer3 {
	width: 600px; 
    height: 360px;
	min-width: 100%;
    min-height: 100%;
	overflow: hidden;
	font-size:0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:0;
	background-color:#ABC;
	border: 0px solid transparent;
}

.displayScreen {
	position:fixed;
	top:150px;
	right:0;
	bottom:0;
	left:0;
	margin:0px;
	background-color:#ABC;
	overflow: scroll;
}

.buttonPanel {
	display:inline-block;
}

.videoHeaderPanel {
	display:inline-block;
}

button:hover {
    cursor: pointer;
}

button {
    background: rgba(0,0,0,.5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#nav-bar {
    display: inline-block;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #00FF00;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #017CBA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  opacity: 0;
  animate: 0.2s;
  /**background: #00FF00;
  border-color: #00FF00;**/
  border-width: 16px 0;
  /**color: #00FF00;**/
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00FF00;
  color: #00FF00;
  background-color: #00FF00;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #C0C0C0;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.modal-backdrop { 
    z-index: auto;
}